body{

    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.card{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.title-font-face{
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    font-weight: 500;
}

.icon-size {
    font-size: 60px;
    color: #3c9cd9;
    display: block;
    text-align: center;

}

.brand-font-size{
    font-size: 25px;
}
.release-font-size{
    font-size: 20px;
}

/* .toast:not(.show) {
    display: block;
} */


.spinner-position{
    position: absolute;
    top:49%;
    left:48%;
    z-index: 2;
}

.error-message{
    position: absolute;
    top:30%;
    left:30%;
}